# Ignore compiled Java classes
*.class
*/*.class
*/*/.class

# MacOS metadata
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Ignore contents of these directories but keep the directories
indexCranfield/*
indexData/*
data/*
cranfield/*
cranfieldSeparated/*

# Add .gitkeep to track empty directories
!indexCranfield/.gitkeep
!indexData/.gitkeep
!data/.gitkeep
!cranfield/.gitkeep
!cranfieldSeparated/.gitkeep

DataVisualization/.venv
*/.*